# Final Project Phase 2 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 2 of the Final Project. Answer all statements addressed below as specified in the instructions for the project, covering all necessary details. Please be clear and concise in your answers. Each response should be at most 3 sentences. Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

Woojin Kang (gtid: 904059831)

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable. 
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or 
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning
You are required to provide data collection and cleaning for the three (3) minimum datasets. Create a function for each of the following sections that reads or scrapes data from a file or website, manipulate and cleans the parsed data, and writes the cleaned data into a new file. 

Make sure your data cleaning and manipulation process is not too simple. Performing complex manipulation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

## Data Sources
Include sources (as links) to your datasets. Add any additional data sources if needed. Clearly indicate if a data source is different from one submitted in your Phase I, as we will check that it satisfies the requirements.
*   Downloaded Dataset Source: https://data-explorer.oecd.org/vis?tm=wealth&pg=0&snb=160&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_HSL%40DF_HSL_CWB&df[ag]=OECD.WISE.WDP&df[vs]=1.0&dq=..._T._T._T.&pd=2004%2C2024&to[TIME_PERIOD]=false
*   Web Collection #1 Source: 
*   Web Collection #2 Source(JSON API): https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CBPOL/1.0/M.AR+AU+BR+CA+CH+CL+CN+CO+CZ+DK+GB+HK+HR+HU+ID+IL+IN+IS+JP+KR+MA+MK+MX+MY+NO+NZ+PE+PH+PL+RO+RS+RU+SA+SE+TH+TR+US+XM+ZA?startPeriod=1990-01-01&endPeriod=2024-10-31&format=sdmx-json
*   Web Collection #3 Source(JSON API): https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CBTA/1.0/M.AE+AR+AT+AU+BE+BR+CA+CH+CL+CN+CZ+DE+DK+EE+ES+FI+FR+GB+GR+HK+HR+HU+ID+IE+IL+IN+IT+JP+KR+LT+LU+LV+MK+MX+MY+NL+NO+NZ+PE+PH+PL+PT+SA+SE+SG+SI+SK+TH+TR+US+XM+ZA..USD?startPeriod=1990-01-01&endPeriod=2024-10-30&format=sdmx-json , https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CBTA/1.0/M.US..XDC..B?startPeriod=1990-01-01&endPeriod=2024-10-31&format=sdmx-json

## Downloaded Dataset Requirement

Fill in the predefined functions with your data scraping/parsing code. You may modify/rename each function as you seem fit, but you must provide at least 3 separate functions that clean each of your required datasets.

In [26]:
import json
import requests
import pprint
import re
import pandas as pd

In [27]:
def data_parser():
  df = pd.read_csv("unfiltered_oecd_data.csv")
  disposable_income = data_select(df, "1_1")
  disposable_income = cleaning_sub_table(disposable_income, "Disposable_Income")
  disposable_income.to_csv("disposable_income.csv", index = False)
  pprint.pprint(disposable_income)

def data_select(df, data_category):
  df = df.loc[(df["MEASURE"] == data_category) & (df["AGE"] == "_T") & (df["SEX"]=="_T") &(df["EDUCATION_LEV"]=="_T"),["REF_AREA", "UNIT_MEASURE", "TIME_PERIOD", "OBS_VALUE", "OBS_STATUS", "DECIMALS", "BASE_PER"]] 
  return df

def cleaning_sub_table(data, measure):
    data = data.loc[:, ["REF_AREA","TIME_PERIOD", "OBS_VALUE"]]
    data = data.reset_index(drop=True)
    data = data.rename(columns= {"OBS_VALUE":measure, "REF_AREA":"Country", "TIME_PERIOD": "Year"})
    return data



############ Function Call ############
data_parser()

    Country  Year  Disposable_Income
0       DEU  2004            36965.0
1       DEU  2005            37285.0
2       DEU  2006            37745.0
3       DEU  2007            37893.0
4       DEU  2008            38311.0
..      ...   ...                ...
607     SWE  2018            38632.0
608     SWE  2019            38821.0
609     SWE  2020            38166.0
610     SWE  2021            39404.0
611     SWE  2022            39048.0

[612 rows x 3 columns]

## Web Collection Requirement \#1

In [28]:
def web_parser1():
  pass





############ Function Call ############
web_parser1()

## Web Collection Requirement \#2

In [29]:
def web_parser2():
  urls = ["https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CBTA/1.0/M.AE+AR+AT+AU+BE+BR+CA+CH+CL+CN+CZ+DE+DK+EE+ES+FI+FR+GB+GR+HK+HR+HU+ID+IE+IL+IN+IT+JP+KR+LT+LU+LV+MK+MX+MY+NL+NO+NZ+PE+PH+PL+PT+SA+SE+SG+SI+SK+TH+TR+US+XM+ZA..USD?startPeriod=2000-01-01&endPeriod=2024-10-01&format=sdmx-json",
        "https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CBTA/1.0/M.US..XDC..B?startPeriod=2000-01-01&endPeriod=2024-10-01&format=sdmx-json"]

  data = [json.loads(requests.get(url).content) for url in urls]
  country_abbv = get_country_abbv(data)
  country_list = get_countries(country_abbv)
  total_asset_dict = get_total_asset(data, country_list)
  df = match_total_asset_date(total_asset_dict)
  df = clean_null(df)
  df.to_csv('total_assets_monthly.csv', index=False)
  pprint.pprint(df)
  
def get_country_abbv(data):
  country_abbv = []
  for i, val in enumerate(data):
    for item in data[i]["data"]["structure"]["dimensions"]["series"][1]['values']:
        country_abbv.append(item)
  return country_abbv

def get_countries(country_abbv):
  country_list = []
  for item in country_abbv: 
      country_list.append(item["id"])
  return country_list

def get_total_asset(data, country_list):
  new_list = []
  for i, val in enumerate(data):
      for key, value in data[i]["data"]["dataSets"][0]["series"].items():
          alist = []
          for k, val in value["observations"].items():
              alist.append(val[0])
          new_list.append(alist)
  total_asset_dict = dict(zip(country_list, new_list))
  return total_asset_dict

def match_total_asset_date(total_asset_dict):
  dates = pd.date_range(start="2000-01", end="2024-10", freq='MS') 
  rows = []
  for country, values in total_asset_dict.items():
      for date, value in zip(dates, values):
          rows.append({'Country': country, 'Date': date.strftime("%Y-%m"), 'Total Asset': round(float(value), 2)})

  df = pd.DataFrame(rows)
  return df

def clean_null(df):
  df[df.isnull().any(axis=1)]
  df = df.dropna()
  return df

        
############ Function Call ############
web_parser2()

      Country     Date  Total Asset
0          PH  2000-01        23.13
1          PH  2000-02        22.90
2          PH  2000-03        24.47
3          PH  2000-04        24.90
4          PH  2000-05        24.81
...       ...      ...          ...
14791      US  2024-03      7484.74
14792      US  2024-04      7402.43
14793      US  2024-05      7284.32
14794      US  2024-06      7231.16
14795      US  2024-07      7178.39

[14785 rows x 3 columns]

## Additional Dataset Parsing/Cleaning Functions

Write any supplemental (optional) functions here.

In [30]:
def extra_source1():
  urls = ["https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CBPOL/1.0/M.AR+AU+BR+CA+CH+CL+CN+CO+CZ+DK+GB+HK+HR+HU+ID+IL+IN+IS+JP+KR+MA+MK+MX+MY+NO+NZ+PE+PH+PL+RO+RS+RU+SA+SE+TH+TR+US+XM+ZA?startPeriod=2000-01-01&endPeriod=2024-10-01&format=sdmx-json"]
  data = [json.loads(requests.get(url).content) for url in urls]
  country_abbv = get_country_abbv(data)
  country_list = get_countries(country_abbv)
  interest_rate_dict = get_interest_rate(data, country_list)
  df = match_interest_rate_date(interest_rate_dict)
  df = clean_null(df)
  df.to_csv('interest_rate_monthly.csv', index=False)
  pprint.pprint(df)
  
def get_country_abbv(data):
  country_abbv = []
  for i, val in enumerate(data):
    for item in data[i]["data"]["structure"]["dimensions"]["series"][1]['values']:
        country_abbv.append(item)
  return country_abbv

def get_countries(country_abbv):
  country_list = []
  for item in country_abbv: 
      country_list.append(item["id"])
  return country_list

def get_interest_rate(data, country_list):
  new_list = []
  for i, val in enumerate(data):
      for key, value in data[i]["data"]["dataSets"][0]["series"].items():
          alist = []
          for k, val in value["observations"].items():
              alist.append(val[0])
          new_list.append(alist)
  interest_rate_dict = dict(zip(country_list, new_list))
  return interest_rate_dict

def match_interest_rate_date(nterest_rate_dict):
  dates = pd.date_range(start="2000-01", end="2024-10", freq='MS') 
  rows = []
  for country, values in nterest_rate_dict.items():
      for date, value in zip(dates, values):
          rows.append({'Country': country, 'Date': date.strftime("%Y-%m"), 'Interest Rate': round(float(value), 3)})

  df = pd.DataFrame(rows)
  return df

def clean_null(df):
  df[df.isnull().any(axis=1)]
  df = df.dropna()
  return df
    
############ Function Call ############
extra_source1()

      Country     Date  Interest Rate
0          DK  2000-01           3.30
1          DK  2000-02           3.60
2          DK  2000-03           3.85
3          DK  2000-04           4.10
4          DK  2000-05           4.10
...       ...      ...            ...
11293      CL  2024-06           5.75
11294      CL  2024-07           5.75
11295      CL  2024-08           5.75
11296      CL  2024-09           5.50
11297      CL  2024-10           5.25

[11245 rows x 3 columns]

In [31]:
# Define further extra source functions as necessary

# Inconsistencies

For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance, how you identified it, and how you handled it.

1. 

2. 

3. 

4. (if applicable)

5. (if applicable)